<div class="cart-page__wrapper --empty-cart">
  <h1>Cart</h1>
  <div class="cart-items__wrapper grid__2x">
    
    {% comment %} Items rendered via cartTemplate.js {% endcomment %}
    <div class="items-table">
      {% render 'ajax-loader' %}
    </div>
    <div class="cart-summary__wrapper">
      <div class="fixed-panel">
        <div><h4>Order Summary</h4></div>
        <div><p class="font-prestige"><span>Sub-Total</span><span id="cart-sub-total"></span></p></div>
        <div><p class="font-prestige"><span>Tax</span><span id="cart-tax"></span></p></div>
        <div><p class="font-prestige"><span>Shipping</span><span id="cart-shipping"></span></p></div>
        <div><p class="font-prestige"><span>Total</span><span id="cart-total"></span></p></div>
      
        <form action="/cart" method="post" novalidate>
          <button type="submit" name="checkout" class="ps-btn --dark">
            Proceed To Checkout
          </button>
        </form>
      </div>
    </div> 
  </div>
</div>

