<div class="mini-cart-drawer__wrapper">
    <div class="mini-cart-header__wrapper">
      <h3>Cart</h3>
      <button id="mini-cart-drawer-close" class="close-cart">
        <span></span>
        <span></span>
      </button>
    </div>
    <div class="mini-cart-items__wrapper"></div>
    <div class="mini-cart-total__wrapper"></div>
    <a id="mini-cart-checkout" href="/cart"><button class="ps-btn --dark">Checkout</button></a>
</div>
