<div class="cart-page__wrapper --empty-cart">
  <h1>Cart</h1>
  <div class="cart-items__wrapper grid__2x">
    {% comment %} Items rendered via cartTemplate.js {% endcomment %}
    <div class="cart-summary__wrapper">
      <div>
        <div><h4>Order Summary</h4></div>
        <div><p class="font-prestige"><span>Sub-Total</span><span></span></p></div>
        <div><p class="font-prestige"><span>Tax</span><span></span></p></div>
        <div><p class="font-prestige"><span>Shipping</span><span></span></p></div>
        <div><p class="font-prestige"><span>Total</span><span></span></p></div>
      </div>
      <button type="submit" name="checkout" class="ps-btn --dark">
        Proceed To Checkout
      </button>
      <button type="submit" name="update" class="ps-btn --light">
        Update Cart
      </button>
    </div> 
  </div>

</div>



