.contact-details__wrapper {
  width: 90%;
  margin: 0 auto;

  .grid_3x {
    gap: 6rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  .detail__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media (max-width: 768px) {
      width: 75%;
      margin: 0 auto;
    }
  }
}
