// Parque Primarys
$parque__yellow: #fceb66;
$parque__green: #497942;
$parque__blue: #164eb8;
$parque__red: #de2a23;

// Parque Neutrals
$white: #ffffff;
$black: #000000;
$grey: #f1f0f0;
$darkGrey: #d4d4d4;
