@import '../components/components';
@import './typography';

html {
  scroll-behavior: smooth;
  font-size: 14px;
  padding-bottom: 0 !important;
}

body {
  overflow-x: hidden;
}

.shopify-section {
  margin-bottom: 13.5rem;

  @media (max-width: 768px) {
    margin-bottom: 10rem;
  }
  @media (max-width: 600px) {
    margin-bottom: 3.75rem;
  }
}

// for cart drawer and modals
.screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0vh;
  background-color: rgba($color: $black, $alpha: 0.5);
  overflow: auto;
  z-index: 9998;
  opacity: 0;
}
