<div class="home-hero__wrapper">
  <img 
  data-src="{{section.settings.home-hero | img_url: 'master' }}"
  src="{{section.settings.home-hero | img_url: '350x' }}" alt="{{home-hero.alt | escape}}" loading="lazy" class="lazy blurUp lazy-reveal">
</div>


{% schema %}
  {
    "name": "Home Hero Image",
    "settings": [
      {
        "id": "home-hero",
        "type": "image_picker",
        "label": "Home Page Hero Image"
      }
    ]
  }
{% endschema %}


