<div id="fit-size-modal" class="modal__wrapper" role="dialog" aria-hidden="true" aria-labelledby="modalTitle" aria-describedby="modalDesc">
  <div class="size-chart">
    <div class="cart-header__wrapper">
      <h3>Fit & Sizes</h3>
      <button id="close-fit-size-modal" class="close-cart">
        <span></span>
        <span></span>
      </button>
    </div>
    <table></table>
  </div>
</div>