.branding__wrapper {
  display: inline-block;
  position: relative;
  width: 20%;
  min-width: 180px;
  height: 100vh;
  vertical-align: middle;
  overflow: hidden;

  @media (max-width: 840px) {
    display: none;
  }

  svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 95vh;
    width: 100%;
    max-width: 245px;
  }
}
