.branding__wrapper {
  display: inline-block;
  position: relative;
  width: 24%;
  min-width: 180px;
  height: 100vh;
  vertical-align: middle;
  overflow: hidden;
  opacity: 0;
  transform: translateX(-20px);

  @media (max-width: 840px) {
    display: none;
  }

  svg {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(10px, -50%);
    height: 85vh;
    width: 100%;
  }
}
