.collection-block {
  padding: 0 3rem;

  @media (max-width: 600px) {
    padding: 0 2rem;
  }

  // Override the base style @tablet
  @media (max-width: 700px) {
    .grid_3x {
      grid-template-columns: 1fr;
      max-width: 75%;
      margin: 0 auto;
    }
  }
  @media (max-width: 600px) {
    .grid_3x {
      max-width: 100%;
      margin: 0 auto;
    }
  }

  .collection-header__wrapper {
    text-align: center;
    margin-bottom: 5rem;

    @media (max-width: 768px) {
      margin-bottom: 2.5rem;
    }
    @media (max-width: 600px) {
      text-align: left;
    }
  }

  .product-item {
    .product-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1.5rem;

      @media (max-width: 700px) {
        margin-bottom: 2rem;
      }

      .product-content__meta {
        display: flex;

        > * {
          margin: 0 0.5rem;
        }
      }
    }
  }
}
