.index .header__wrapper header {
  width: 80%;
  border-bottom: none;
}

.header__wrapper {
  padding: 25px;
  display: flex;
  width: 100%;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    border-bottom: 1px solid $darkGrey;

    .header__logo--wrapper {
      a {
        border-bottom: none;
      }
      svg {
        width: 134px;
      }
    }

    .main-nav {
      display: flex;
      justify-content: center;
      flex: 1;
      align-items: center;

      a {
        margin-right: 4rem;
      }
    }
  }
}

.index .header__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9997;

  .no-display {
    display: none;
  }
}
