.index .header__wrapper {
  background: transparent;
}

.index .header__wrapper header {
  width: 80%;
  border-bottom: none;

  // Animation styles
  opacity: 0;
  transform: translateY(-12px);

  @media (max-width: 840px) {
    width: 100%;
    opacity: 1;
    transform: translateY(0);
  }
}

body.index.fixed-header {
  margin-top: 0;
}

// Account for fixed header
body.fixed-header {
  margin-top: 90px;

  @media (max-width: 680px) {
    margin-top: 60px;
  }
}

.header__wrapper {
  padding-top: 0;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  background: $white;
  z-index: 999;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    border-bottom: 1px solid $darkGrey;
    position: relative;
    padding: 0 25px;

    @media (max-width: 768px) {
      height: 60px;
      border-bottom: none;
    }

    .header-logo__wrapper {
      @media (max-width: 840px) {
        display: block;
        flex: 1;
      }

      padding-top: 1rem;
      a {
        border-bottom: none;
      }
      svg {
        width: 134px;

        @media (max-width: 600px) {
          width: 72px;
        }
      }
    }

    .main-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      a {
        margin-right: 4rem;
      }
    }

    .mobile-menu-btn {
      height: 25px;
      width: 25px;
      padding: 0 4px;
      margin-left: 1rem;

      @media (min-width: 769px) {
        display: none;
      }

      &:hover span {
        background-color: #707070;
      }

      span {
        height: 1px;
        width: 100%;
        background-color: $black;
        margin-bottom: 4px;
        display: block;
      }

      span:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.index .header__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9996;

  .no-display {
    display: none;

    @media (max-width: 840px) {
      display: block;
      flex: 1;
    }
  }
}
