.home-hero__wrapper {
  img {
    object-fit: cover;
    min-height: 100vh;
    max-height: 100vh;

    @media (max-width: 768px) {
      min-height: 60vh;
    }
    @media (max-width: 600px) {
      min-height: 50vh;
      margin-top: 61px;
    }
    @media (max-width: 500px) {
      min-height: 30vh;
    }
  }
}
