.index .image-grid__wrapper {
  padding-right: 1.5rem;
}
.image-grid__wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  gap: 2rem;
  grid-row-gap: 200px;

  @media (max-width: 768px) {
    gap: 1rem;
  }

  @media (max-width: 600px) {
    grid-row-gap: 6rem;
  }

  .grid-image-full {
    width: 100%;
  }
  .grid-image-crop {
    picture {
      max-width: 65%;
    }
  }

  .image-grid-item {
    display: grid;

    &.top {
      align-items: start;
    }
    &.middle {
      align-items: center;
    }
    &.bottom {
      align-items: end;
    }

    &.left {
      justify-items: start;
    }
    &.center {
      justify-items: center;
    }
    &.right {
      justify-items: end;
    }
  }
}
