.index .image-grid__wrapper {
  padding-right: 1.5rem;
}
.image-grid__wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  gap: 2rem;
  grid-row-gap: 200px;

  .grid-image-full {
    width: 100%;
  }
  .grid-image-crop {
    max-width: 65%;
  }

  .top {
    align-self: start;
  }
  .middle {
    justify-self: center;
  }
  .bottom {
    align-self: end;
  }

  .left {
    justify-self: start;
  }
  .center {
    align-self: center;
  }
  .right {
    justify-self: end;
  }
}
