.image__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.cropped {
  width: 65%;
}

.image__wrapper--full-feature {
  max-width: 86%;
  margin: 0 auto;
}

.--header-image {
  padding: 25px;
}
