@media (min-width: 768px) {
  .mobile-menu-header {
    display: none;
  }
}

.mobile-menu-header {
  height: 40px;
  width: 100%;
  text-align: right;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .header__wrapper header .main-nav {
    padding: 1.5rem 2.5rem;
    position: fixed;
    top: 0;
    right: 0;
    width: 35%;
    min-height: 100vh;
    z-index: 9999;
    background: $white;
    overflow: auto;
    transform: translateX(210%);

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    a {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    @media (max-width: 620px) {
      width: 70%;
    }
  }
}
