.newsletter {
  h3 {
    font-size: 1.3rem;
    font-family: $font__moret;
    color: $parque__off-white;
    text-align: center;
    line-height: 1.25;
    letter-spacing: 1.5px;
  }

  .newsletter--form {
    .form-success {
      font-size: 2rem;
      font-family: $font__moret;
      color: $parque__off-white;
      text-align: center;
      line-height: 1.25;
      letter-spacing: 1.5px;
    }

    .input-group {
      width: 85%;
      height: 60px;
      display: flex;
      justify-content: space-between;
      border: 1px solid $parque__off-white;
      border-radius: 50px;
      margin: 0.7rem auto 0.7rem;

      @media screen and (max-width: 420px){
        width: 100%;
      }

      input {
        border: none;
        background-color: transparent;
        font-family: $font__moret;
        font-size: 1.8rem;
        color: $parque__off-white;
        padding-left: 1rem;
        width: 100%;

        @media screen and (max-width: 420px){
          font-size: 1.35rem;
        }

        &:focus::placeholder {
          color: #828282;
        }

        &:focus {
          outline: none;
        }

        &::placeholder {
          font-family: $font__moret;
          font-size: 1.8rem;
          color: $parque__off-white;
          transition: color 400ms ease-in-out;
        }

      }

      .input-group-btn {
        padding-right: 1rem;

        .newsletter__submit {

          svg {
            height: 60px;
            width: 60px;
          }
        }
      }
    }

    .newsletter--opt-in {
      font-family: $font__aktiv;
      font-size: 0.7rem;
      color: $parque__off-white;
      text-align: center;
      
    }
  }
}


.errors {
  ul {
    padding: 0;

    li {
      font-size: 2rem;
      font-family: $font__moret;
      color: $parque__off-white;
      text-align: center;
      line-height: 1.25;
      letter-spacing: 1.5px;
    }
  }
}