.newsletter {
  h3 {
    font-size: 1.3rem;

    color: $white;
    text-align: center;
    line-height: 1.25;
    letter-spacing: 1.5px;
  }

  .newsletter--form {
    .form-success {
      font-size: 2rem;

      color: $white;
      text-align: center;
      line-height: 1.25;
      letter-spacing: 1.5px;
    }

    .input-group {
      width: 85%;
      height: 60px;
      display: flex;
      justify-content: space-between;
      border: 1px solid $white;
      border-radius: 50px;
      margin: 0.7rem auto 0.7rem;

      @media screen and (max-width: 420px) {
        width: 100%;
      }

      input {
        border: none;
        background-color: transparent;

        font-size: 1.8rem;
        color: $white;
        padding-left: 1rem;
        width: 100%;

        @media screen and (max-width: 420px) {
          font-size: 1.35rem;
        }

        &:focus::placeholder {
          color: #828282;
        }

        &:focus {
          outline: none;
        }

        &::placeholder {
          font-size: 1.8rem;
          color: $white;
          transition: color 400ms ease-in-out;
        }
      }

      .input-group-btn {
        padding-right: 1rem;

        .newsletter__submit {
          svg {
            height: 60px;
            width: 60px;
          }
        }
      }
    }

    .newsletter--opt-in {
      font-size: 0.7rem;
      color: $white;
      text-align: center;
    }
  }
}

.errors {
  ul {
    padding: 0;

    li {
      font-size: 1rem;

      color: $white;
      text-align: center;
      line-height: 1.25;
      letter-spacing: 1.5px;
    }
  }
}

// Newsletter Confirmation

.shopify-challenge__container {
  min-height: 60vh;
  height: 100vh;
  padding-top: 70px;

  .shopify-challenge__button {
    cursor: pointer;
    height: 40px;
    width: 60%;
    text-align: center;
    appearance: none;
    transition: color 300ms ease-in-out;
    color: $white;
    border: 1px solid $black;
    background-color: $black;
    margin-bottom: 0.6rem;
  }
}
