.page-text-col {
  padding: 0 3.75rem;
  display: flex;

  .col-text__wrapper {
    max-width: 40%;
  }
}

.align-left {
  text-align: left;
  justify-content: flex-start;
}
.align-center {
  text-align: center;
  justify-content: center;
}
