.four-oh-four {
  margin: 0 3.75rem 1.5rem;

  .four-oh-four--image__wrapper {
    position: relative;

    h1 {
      position: absolute;
      top: 6%;
      left: 2%;
    }
  }
}

#shopify-section-not-found-page-header-image {
  margin: 0;
}
