// Custom Reset Styles

button {
  border: none;
  background-color: transparent;
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
}

button.cta {
  appearance: none;
  border: 1px solid $black;
  height: 35px;
  width: 121px;
  text-align: center;
}

.mini-cart > button {
  font-family: 'haboro-contrast-normal', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $black;
}

a.cta-link {
  text-decoration: none;
  display: inline-block;
  border: 1px solid $black;
  border-radius: 17px;
  height: 35px;
  width: 120px;
  text-align: center;
  line-height: 35px;
}

.ps-btn {
  height: 40px;
  width: 100%;
  text-align: center;
  appearance: none;

  &.--light {
    color: $white;
    border: 1px solid #707070;
    background-color: #707070;
  }
  &.--dark {
    color: $white;
    border: 1px solid $black;
    background-color: $black;
    margin-bottom: 0.6rem;
  }
}

.remove-cart-item {
  border: none;
}

.remove-cart-item {
  width: 36px;
  height: 26px;
  padding: 0;
  position: relative;
}

.remove-cart-item > span {
  width: 16px;
  height: 1px;
  display: block;
  background-color: $black;
  position: absolute;
  left: 9px;
}

.remove-cart-item span:first-of-type {
  transform-origin: center center;
  transform: rotate(45deg);
}

.remove-cart-item span:last-of-type {
  transform-origin: center center;
  transform: rotate(-45deg);
}
