// images with aspect ratio boxes
.aspect__wrapper {
  height: 0;
  width: 100%;
  overflow: hidden;
  background: white;
  position: relative;

  picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

._9x21 {
  padding-top: 42.85%;
}
._11x21 {
  padding-top: (11 / 21) * 100%;
}

._16x9 {
  padding-top: (9 / 16) * 100%;
}

._5x7 > picture {
  padding-bottom: (5 / 7) * 100%;
}

._1x1 {
  padding-top: 100%;
}

// .aspect-ratio__1x1 {
//   height: 0;
//   overflow: hidden;
//   padding-top: 100%;
//   background: white;
//   position: relative;

//   img {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//   }
// }
// .aspect-ratio__4x5 {
//   height: 0;
//   overflow: hidden;
//   padding-top: 125%;
//   background: white;
//   position: relative;

//   img {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//   }
// }

// .aspect-ratio__16x9 {
//   height: 0;
//   overflow: hidden;
//   padding-top: 56.25%;
//   background: white;
//   position: relative;

//   img {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//   }
// }

// .aspect-ratio__9x21 {
//   height: 0;
//   overflow: hidden;
//   padding-top: 42.85%;
//   background: white;
//   position: relative;

//   img {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//   }
// }
