.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.grid__2x {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid_3x {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
