/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Remove list styles on ul, ol  */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.index .header__wrapper {
  background: transparent;
}

.index .header__wrapper header {
  width: 80%;
  border-bottom: none;
  opacity: 0;
  transform: translateY(-12px);
}
@media (max-width: 840px) {
  .index .header__wrapper header {
    width: 100%;
    opacity: 1;
    transform: translateY(0);
  }
}

body.index.fixed-header {
  margin-top: 0;
}

body.fixed-header {
  margin-top: 90px;
}
@media (max-width: 680px) {
  body.fixed-header {
    margin-top: 60px;
  }
}

.header__wrapper {
  padding-top: 0;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  background: #ffffff;
  z-index: 999;
}
.header__wrapper header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
  position: relative;
  padding: 0 25px;
}
@media (max-width: 768px) {
  .header__wrapper header {
    height: 60px;
    border-bottom: none;
  }
}
.header__wrapper header .header-logo__wrapper {
  padding-top: 1rem;
}
@media (max-width: 840px) {
  .header__wrapper header .header-logo__wrapper {
    display: block;
    flex: 1;
  }
}
.header__wrapper header .header-logo__wrapper a {
  border-bottom: none;
}
.header__wrapper header .header-logo__wrapper svg {
  width: 134px;
}
@media (max-width: 600px) {
  .header__wrapper header .header-logo__wrapper svg {
    width: 72px;
  }
}
.header__wrapper header .main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header__wrapper header .main-nav a {
  margin-right: 4rem;
}
.header__wrapper header .mobile-menu-btn {
  height: 25px;
  width: 25px;
  padding: 0 4px;
  margin-left: 1rem;
}
@media (min-width: 769px) {
  .header__wrapper header .mobile-menu-btn {
    display: none;
  }
}
.header__wrapper header .mobile-menu-btn:hover span {
  background-color: #707070;
}
.header__wrapper header .mobile-menu-btn span {
  height: 1px;
  width: 100%;
  background-color: #000000;
  margin-bottom: 4px;
  display: block;
}
.header__wrapper header .mobile-menu-btn span:last-of-type {
  margin-bottom: 0;
}

.index .header__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9996;
}
.index .header__wrapper .no-display {
  display: none;
}
@media (max-width: 840px) {
  .index .header__wrapper .no-display {
    display: block;
    flex: 1;
  }
}

.main-nav a {
  font-family: "haboro-contrast-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  border-bottom: none;
  margin: 0;
}
.main-nav a:hover {
  color: #707070;
}

.branding__wrapper {
  display: inline-block;
  position: relative;
  width: 24%;
  min-width: 180px;
  height: 100vh;
  vertical-align: middle;
  overflow: hidden;
  opacity: 0;
  transform: translateX(-20px);
}
@media (max-width: 840px) {
  .branding__wrapper {
    display: none;
  }
}
.branding__wrapper svg {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(10px, -50%);
  height: 85vh;
  width: 100%;
}

.mini-cart-header__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.mini-cart-drawer__wrapper {
  padding: 1.5rem 2.5rem;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: #ffffff;
  overflow: auto;
  overflow-y: scroll;
  transform: translateX(210%);
  display: flex;
  flex-direction: column;
}
@media (min-width: 1100px) {
  .mini-cart-drawer__wrapper {
    width: 35%;
  }
}
@media (max-width: 1100px) {
  .mini-cart-drawer__wrapper {
    width: 45%;
  }
}
@media (max-width: 700px) {
  .mini-cart-drawer__wrapper {
    width: 65%;
  }
}
@media (max-width: 600px) {
  .mini-cart-drawer__wrapper {
    width: 100%;
    padding: 1.5rem;
  }
}
@media (max-width: 420px) {
  .mini-cart-drawer__wrapper {
    padding: 1.5rem 1rem;
  }
}
.mini-cart-drawer__wrapper .mini-cart-items__wrapper {
  padding-bottom: 2.5rem;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #d4d4d4;
  overflow: auto;
}
.mini-cart-drawer__wrapper .mini-cart-items__wrapper .items-table {
  gap: 2rem;
  padding-top: 1.8rem;
  border-top: 1px solid #d4d4d4;
}
.mini-cart-drawer__wrapper .mini-cart-items__wrapper .items-table .table-row__wrapper {
  margin-bottom: 1.8rem;
  opacity: 1;
}
.mini-cart-drawer__wrapper .mini-cart-items__wrapper .items-table .table-row__wrapper h4,
.mini-cart-drawer__wrapper .mini-cart-items__wrapper .items-table .table-row__wrapper p {
  margin-bottom: 1rem;
}
.mini-cart-drawer__wrapper .mini-cart-items__wrapper .items-table .table-row__wrapper .items-tables__details div div:last-of-type {
  text-align: right;
}
.mini-cart-drawer__wrapper .mini-cart-items__wrapper .items-table .table-row__wrapper .items-tables__details div.grid__2x {
  grid-template-columns: 2fr 0.5fr;
}
.mini-cart-drawer__wrapper .mini-cart-items__wrapper .items-table .table-row__wrapper .items-tables__details > div:last-of-type {
  margin-top: 1rem;
}
.mini-cart-drawer__wrapper .mini-cart-items__wrapper .items-table .table-row__wrapper .items-tables__details > div:last-of-type.grid__2x {
  grid-template-columns: 2fr 0.5fr;
}

.mini-cart-total__wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 2rem;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #d4d4d4;
}
.mini-cart-total__wrapper p {
  margin: 0;
}
.mini-cart-total__wrapper .subtotal__col-01 {
  width: 40%;
}
.mini-cart-total__wrapper .subtotal__col-02 {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.mini-cart-total__wrapper .total-price {
  margin-top: 2rem;
}
.mini-cart-total__wrapper .total-price p {
  margin: 0;
  font-size: 1rem;
}

.mini-cart-drawer__checkout-button {
  height: 40px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  border: 1px solid #000000;
  background-color: #000000;
  -webkit-appearance: none;
          appearance: none;
}

.close-cart {
  width: 36px;
  height: 36px;
  padding: 0;
  position: relative;
}

.close-cart > span {
  width: 16px;
  height: 1px;
  display: block;
  background-color: #000000;
  position: absolute;
  left: 9px;
}

.close-cart span:first-of-type {
  transform-origin: center center;
  transform: rotate(45deg);
}

.close-cart span:last-of-type {
  transform-origin: center center;
  transform: rotate(-45deg);
}

body.cart--no-items #mini-cart-checkout {
  display: none;
}

@media (min-width: 768px) {
  .mobile-menu-header {
    display: none;
  }
}
.mobile-menu-header {
  height: 40px;
  width: 100%;
  text-align: right;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .header__wrapper header .main-nav {
    transform: translateX(0) !important;
  }
}
@media (max-width: 768px) {
  .header__wrapper header .main-nav {
    padding: 1.5rem 2.5rem;
    position: fixed;
    top: 0;
    right: 0;
    width: 35%;
    min-height: 100vh;
    z-index: 9999;
    background: #ffffff;
    overflow: auto;
    transform: translateX(210%);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .header__wrapper header .main-nav a {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 768px) and (max-width: 620px) {
  .header__wrapper header .main-nav {
    width: 70%;
  }
}
@media (max-width: 768px) and (max-width: 600px) {
  .header__wrapper header .main-nav {
    padding: 1.5rem;
  }
}
@media (max-width: 768px) and (max-width: 420px) {
  .header__wrapper header .main-nav {
    padding: 1.5rem 1.5rem 1rem 1rem;
  }
}
.home-hero__wrapper img {
  object-fit: cover;
  min-height: 100vh;
  max-height: 100vh;
  object-position: bottom;
}
@media (max-width: 768px) {
  .home-hero__wrapper img {
    min-height: 60vh;
  }
}
@media (max-width: 600px) {
  .home-hero__wrapper img {
    min-height: 50vh;
    margin-top: 61px;
  }
}
@media (max-width: 500px) {
  .home-hero__wrapper img {
    min-height: 30vh;
  }
}

section.page-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.page-intro .page-intro__text {
  text-align: center;
  max-width: 65%;
  margin-bottom: 7.75rem;
}
@media (max-width: 600px) {
  section.page-intro .page-intro__text {
    max-width: 90%;
    margin-bottom: 3.75rem;
  }
}

.page-text-col {
  padding: 0 3.75rem;
  display: flex;
}
@media (max-width: 600px) {
  .page-text-col {
    padding: 0 2rem;
  }
}
.page-text-col .col-text__wrapper {
  max-width: 40%;
}
@media (max-width: 768px) {
  .page-text-col .col-text__wrapper {
    max-width: 60%;
  }
}
@media (max-width: 600px) {
  .page-text-col .col-text__wrapper {
    max-width: 100%;
  }
}

.align-left {
  text-align: left;
  justify-content: flex-start;
}

.align-center {
  text-align: center;
  justify-content: center;
}
@media (max-width: 600px) {
  .align-center {
    text-align: left;
    justify-content: flex-start;
  }
}

.two-col-block__wrapper {
  display: grid;
  gap: 6rem;
}
@media (max-width: 768px) {
  .two-col-block__wrapper {
    gap: 3.75rem;
  }
}
@media (max-width: 600px) {
  .two-col-block__wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;
    padding: 0 2rem;
  }
}
@media (max-width: 600px) {
  .two-col-block__wrapper .block__column {
    max-width: 100%;
    margin: 0 auto;
  }
}
.two-col-block__wrapper .text-col-image {
  margin-bottom: 6rem;
}

.--img-right {
  grid-template-columns: 1fr 1.25fr;
}
@media (max-width: 768px) {
  .--img-right {
    grid-template-columns: 1fr 1fr;
  }
}
.--img-right .block__column:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.--img-right .block__column:first-of-type div {
  width: 70%;
}
@media (max-width: 600px) {
  .--img-right .block__column:first-of-type div {
    width: 100%;
  }
}

.--img-left {
  grid-template-columns: 1fr 1fr;
}
.--img-left .block__column:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.--img-left .block__column:last-of-type div {
  width: 70%;
}
@media (max-width: 600px) {
  .--img-left .block__column:last-of-type div {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .index .two-col-block__wrapper.--img-right div:last-of-type {
    margin-bottom: 2rem;
  }
}

.page-header__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #000000;
  padding: 4.5rem 0 4.5rem 0;
  margin-bottom: 3rem;
}
.page-header__wrapper > * {
  margin: 0;
}
@media (max-width: 768px) {
  .page-header__wrapper {
    margin-bottom: 1rem;
    padding: 1.5rem 0 2.5rem 0;
  }
}

.collection-block {
  padding: 0 3rem;
}
@media (max-width: 600px) {
  .collection-block {
    padding: 0 2rem;
  }
}
@media (max-width: 700px) {
  .collection-block .grid_3x {
    grid-template-columns: 1fr;
    max-width: 75%;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .collection-block .grid_3x {
    max-width: 100%;
    margin: 0 auto;
  }
}
.collection-block .collection-header__wrapper {
  text-align: center;
  margin-bottom: 5rem;
}
@media (max-width: 768px) {
  .collection-block .collection-header__wrapper {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 600px) {
  .collection-block .collection-header__wrapper {
    text-align: left;
  }
}
.collection-block .product-item .product-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
@media (max-width: 700px) {
  .collection-block .product-item .product-content {
    margin-bottom: 2rem;
  }
}
.collection-block .product-item .product-content .product-content__meta {
  display: flex;
}
.collection-block .product-item .product-content .product-content__meta > * {
  margin: 0 0.5rem;
}

#shopify-section-coming-soon-collection-block {
  margin-bottom: 1.5rem;
}

.--coming-soon {
  margin: 1.5rem;
  background-color: #f1f0f0;
  padding: 2.5rem 3.75rem;
}
@media (max-width: 600px) {
  .--coming-soon {
    padding: 2rem;
    margin: 1rem;
  }
}
.--coming-soon h2 {
  margin-bottom: 2rem;
}
.--coming-soon .collection-header__wrapper {
  margin-bottom: 0;
}
.--coming-soon .collection__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 2rem 0;
}
.--coming-soon .collection__wrapper h4 {
  margin-bottom: 1rem;
}
.--coming-soon .collection__wrapper p {
  margin-bottom: 0;
}
@media (max-width: 600px) {
  .--coming-soon .collection__wrapper div:first-of-type {
    margin-bottom: 1.5rem;
  }
}
.--coming-soon .collection__wrapper:first-of-type {
  padding-top: 0;
}
.--coming-soon .collection__wrapper:last-of-type {
  border: 0;
  padding-bottom: 2.5rem;
}

.product-slider img {
  margin-bottom: 1.5rem;
}

.product-slider-nav img {
  margin-bottom: 0.5rem;
}

.product-slider-nav--mobile .slick-slide {
  border: 0.5px solid transparent;
}
.product-slider-nav--mobile .slick-slide:focus {
  outline: none;
  border: 0.5px solid #000000;
}

/* Tabs menu */
.tabs {
  margin: 0;
  display: flex;
  align-items: center;
}

/* Tab Links */
.tablinks {
  cursor: pointer;
}
.tablinks:not(:last-child) {
  margin-right: 3rem;
}

/* Tab active */
.tablinks.active {
  color: #000000;
  border-bottom: 1px solid #000000;
}

/* Tabs text */
.tablinks.active p,
.tablinks.active:hover p {
  opacity: 1;
}

.tablinks p {
  color: #000000;
  opacity: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: 0.5s ease;
  padding: 0;
  margin: 0;
}

.tablinks:hover p {
  opacity: 1;
}
@media screen and (max-width: 512px) {
  .tablinks:hover p {
    opacity: 0.6;
  }
}

/* tab content */
.tabcontent__wrapper {
  background-color: white;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #d4d4d4;
  z-index: -3;
  position: relative;
  opacity: 1;
  overflow: hidden;
  transition: all 1s ease;
  top: 0;
}

.tabcontent {
  display: none;
}

.tabcontent.active {
  transition: all 1s ease;
  display: block;
}

/* Text*/
.tabcontent p {
  margin: 0;
  padding: 0;
  transition: all 1s ease;
  animation: fadeEffect 0.6s ease;
  width: 100%;
  line-height: 2;
}
@media screen and (max-width: 512px) {
  .tabcontent p {
    font-size: 14px;
    line-height: 26px;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.presale__wrapper h4 {
  margin-bottom: 1rem;
}
.presale__wrapper .presale-bar__wrapper {
  width: 100%;
  height: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #eee;
}
.presale__wrapper .presale-bar {
  min-width: 0;
  height: 15px;
  background-color: black;
  transition: min-width 400ms ease;
}

#fit-size-modal {
  height: 300px;
  width: 500px;
  background: #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  z-index: 9999;
}

.fixed-panel {
  padding-top: 2rem;
  position: sticky;
  top: 100px;
  margin-bottom: 150px;
}

.fixed-panel.unfix {
  position: relative;
  top: 0;
  margin-bottom: 0;
}

.message {
  position: fixed;
  left: 2%;
  bottom: 2%;
  background-color: #ffffff;
  width: 35%;
  border: 1px solid #000000;
  height: 0;
  opacity: 0;
  text-align: center;
  transition: opacity 400ms ease;
  padding: 2rem 3rem;
}
@media (max-width: 600px) {
  .message {
    top: -100%;
    left: 0;
    right: 0;
    bottom: unset;
    width: 100%;
    padding: 1rem;
    border: 0;
    border-bottom: 1px solid #000000;
    transition: all 1s ease-in-out;
  }
}
.message p {
  margin: 0;
}
.message a {
  cursor: pointer;
}

.message.active {
  opacity: 1;
  height: auto;
}
@media (max-width: 600px) {
  .message.active {
    height: auto;
    opacity: 1;
    top: 0;
  }
}

.image__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cropped {
  width: 65%;
}
@media (max-width: 600px) {
  .cropped {
    width: 100%;
    padding: 0 2rem;
  }
}

.image__wrapper--full-feature {
  max-width: 86%;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .image__wrapper--full-feature {
    max-width: 100%;
    padding: 0 2rem;
  }
}

.--header-image {
  padding: 25px;
}
@media (max-width: 768px) {
  .--header-image {
    padding: 0;
  }
}

.index .image-grid__wrapper {
  padding-right: 1.5rem;
}

.image-grid__wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  gap: 2rem;
  grid-row-gap: 200px;
}
@media (max-width: 768px) {
  .image-grid__wrapper {
    gap: 1rem;
  }
}
@media (max-width: 600px) {
  .image-grid__wrapper {
    grid-row-gap: 6rem;
  }
}
.image-grid__wrapper .grid-image-full {
  width: 100%;
}
.image-grid__wrapper .grid-image-crop picture {
  max-width: 65%;
}
.image-grid__wrapper .image-grid-item {
  display: grid;
}
.image-grid__wrapper .image-grid-item.top {
  align-items: start;
}
.image-grid__wrapper .image-grid-item.middle {
  align-items: center;
}
.image-grid__wrapper .image-grid-item.bottom {
  align-items: end;
}
.image-grid__wrapper .image-grid-item.left {
  justify-items: start;
}
.image-grid__wrapper .image-grid-item.center {
  justify-items: center;
}
.image-grid__wrapper .image-grid-item.right {
  justify-items: end;
}

.divider {
  height: 1px;
  width: 100%;
  background: #000000;
  margin-bottom: 13.5rem;
}
@media (max-width: 768px) {
  .divider {
    margin-bottom: 6rem;
  }
}
@media (max-width: 600px) {
  .divider {
    margin-bottom: 3.75rem;
  }
}

.tags-menu {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
  justify-content: center;
}
@media (max-width: 360px) {
  .tags-menu {
    padding: 1rem 0;
  }
}
.tags-menu .tag__wrapper {
  margin: 0.5rem 2rem;
  display: flex;
  align-items: center;
  line-height: 1;
  text-decoration: none;
  border-bottom: none;
}
@media (max-width: 420px) {
  .tags-menu .tag__wrapper {
    margin: 0.5rem 1rem;
  }
}
@media (max-width: 360px) {
  .tags-menu .tag__wrapper {
    margin: 0.5rem 0.75rem;
  }
}
.tags-menu .tag__wrapper:hover .blog-tag--check {
  background-color: #000000;
}
.tags-menu .tag__wrapper .blog-tag--check {
  display: inline-block;
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
  margin: 0 0.5rem;
}

.latest-post__wrapper {
  padding: 0 25px 4rem;
  border-bottom: 1px solid #000000;
}
.latest-post__wrapper .responsive-grid {
  gap: 8.25rem;
}
@media (max-width: 700px) {
  .latest-post__wrapper .responsive-grid {
    gap: 3.25rem;
  }
}
@media (max-width: 640px) {
  .latest-post__wrapper .responsive-grid {
    grid-template-columns: 1fr;
  }
  .latest-post__wrapper .responsive-grid div:first-of-type {
    grid-row: 2;
  }
  .latest-post__wrapper .responsive-grid div:last-of-type {
    grid-row: 1;
  }
}

.tag__wrapper[aria-current=true] .blog-tag--check {
  background-color: #000000;
}

#shopify-section-home-sub-footer {
  margin-bottom: 0;
}

.sub-footer__wrapper {
  width: 100%;
}
.sub-footer__wrapper .sub-footer__row:first-of-type {
  overflow: hidden;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
@media (max-width: 600px) {
  .sub-footer__wrapper .sub-footer__row:first-of-type {
    height: 300px;
  }
}
.sub-footer__wrapper .sub-footer__row:first-of-type .sub-footer-bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}
@media (min-width: 1600px) {
  .sub-footer__wrapper .sub-footer__row:first-of-type .sub-footer-bg {
    top: 0;
  }
}
@media (max-width: 600px) {
  .sub-footer__wrapper .sub-footer__row:first-of-type .sub-footer-bg {
    height: 200px;
  }
}
.sub-footer__wrapper .sub-footer__row:first-of-type .sub-footer-newsletter__wrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 100px;
  z-index: 10;
}
@media (max-width: 768px) {
  .sub-footer__wrapper .sub-footer__row:first-of-type .sub-footer-newsletter__wrapper {
    width: 80%;
  }
}
.sub-footer__wrapper .sub-footer__row:first-of-type .sub-footer-newsletter__wrapper h3,
.sub-footer__wrapper .sub-footer__row:first-of-type .sub-footer-newsletter__wrapper p {
  text-align: center;
}
.sub-footer__wrapper .sub-footer__row:first-of-type .sub-footer-newsletter__wrapper p {
  width: 75%;
}
@media (max-width: 768px) {
  .sub-footer__wrapper .sub-footer__row:first-of-type .sub-footer-newsletter__wrapper p {
    width: 100%;
  }
}
.sub-footer__wrapper .sub-footer__row:first-of-type form {
  width: 100%;
}
.sub-footer__wrapper .sub-footer__row:first-of-type form .newsletter--form {
  margin-top: 1rem;
}
.sub-footer__wrapper .sub-footer__row:first-of-type form .newsletter--form .input-group {
  background: white;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 600px) {
  .sub-footer__wrapper .sub-footer__row:first-of-type form .newsletter--form .input-group {
    height: 35px;
  }
}
.sub-footer__wrapper .sub-footer__row:first-of-type form .newsletter--form .input-group input {
  font-family: "haboro-contrast-normal", sans-serif;
  -webkit-appearance: none;
          appearance: none;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: white;
  padding-left: 1rem;
}
.sub-footer__wrapper .sub-footer__row:first-of-type form .newsletter--form .input-group input:focus {
  outline: 1px solid #d4d4d4;
}
@media (max-width: 600px) {
  .sub-footer__wrapper .sub-footer__row:first-of-type form .newsletter--form .input-group input {
    height: 35px;
  }
}
.sub-footer__wrapper .sub-footer__row:first-of-type form .newsletter--form .input-group input::placeholder {
  font-family: "haboro-contrast-normal", sans-serif;
  font-size: 1rem;
  color: #000000;
}
.sub-footer__wrapper .sub-footer__row:first-of-type form .newsletter--form .input-group .input-group-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
@media (max-width: 600px) {
  .sub-footer__wrapper .sub-footer__row:first-of-type form .newsletter--form .input-group .input-group-btn {
    height: 35px;
  }
}
.sub-footer__wrapper .sub-footer__row:first-of-type form .newsletter--form .input-group .input-group-btn button {
  width: 24px;
  height: 50px;
  padding: 0;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
  .sub-footer__wrapper .sub-footer__row:first-of-type form .newsletter--form .input-group .input-group-btn button {
    height: 35px;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }
}
.sub-footer__wrapper .sub-footer__row:last-of-type {
  position: relative;
  background-position: center;
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 0 4.5rem;
  margin-top: -2px;
}
@media (max-width: 420px) {
  .sub-footer__wrapper .sub-footer__row:last-of-type {
    padding: 0 1.5rem;
  }
}
.sub-footer__wrapper .sub-footer__row:last-of-type.--align-left {
  justify-content: center;
  align-items: flex-start;
}
.sub-footer__wrapper .sub-footer__row:last-of-type.--align-left .sub-footer__text-wrapper h3,
.sub-footer__wrapper .sub-footer__row:last-of-type.--align-left .sub-footer__text-wrapper a {
  text-align: left;
}
.sub-footer__wrapper .sub-footer__row:last-of-type.--align-center {
  justify-content: center;
  align-items: center;
}
.sub-footer__wrapper .sub-footer__row:last-of-type.--align-center .sub-footer__text-wrapper {
  text-align: center;
}
.sub-footer__wrapper .sub-footer__row:last-of-type.--align-right {
  justify-content: center;
  align-items: flex-end;
}
.sub-footer__wrapper .sub-footer__row:last-of-type.--align-right .sub-footer__text-wrapper {
  text-align: right;
}
.sub-footer__wrapper .sub-footer__row:last-of-type .sub-footer__row--screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: #000000;
}
.sub-footer__wrapper .sub-footer__row:last-of-type .sub-footer__text-wrapper {
  z-index: 2;
}
.sub-footer__wrapper .sub-footer__row:last-of-type .sub-footer__text-wrapper h3,
.sub-footer__wrapper .sub-footer__row:last-of-type .sub-footer__text-wrapper a,
.sub-footer__wrapper .sub-footer__row:last-of-type .sub-footer__text-wrapper p {
  color: #ffffff;
  text-align: center;
}
.sub-footer__wrapper .sub-footer__row:last-of-type .sub-footer__text-wrapper a {
  border-bottom: 1px solid #ffffff;
}

#footer {
  height: 134px;
  width: 100%;
  background-color: #000000;
  display: flex;
  align-items: center;
  padding: 3rem;
}
@media (max-width: 1100px) {
  #footer {
    flex-wrap: wrap;
    height: auto;
  }
}
@media (max-width: 768px) {
  #footer {
    padding: 3rem 2rem;
  }
}
@media (max-width: 600px) {
  #footer {
    padding: 3rem 2rem 5rem;
  }
}
#footer .footer-col:first-of-type {
  display: flex;
  width: 70%;
}
@media (max-width: 1100px) {
  #footer .footer-col:first-of-type {
    width: 100%;
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  #footer .footer-col:first-of-type {
    flex-direction: column;
  }
}
#footer .footer-col:first-of-type .footer-logo {
  max-width: 134px;
  height: 45px;
  padding-top: 4px;
}
@media (max-width: 768px) {
  #footer .footer-col:first-of-type .footer-logo {
    margin-bottom: 1rem;
  }
}
#footer .footer-col:first-of-type .footer-menu__wrapper {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  #footer .footer-col:first-of-type .footer-menu__wrapper {
    justify-content: flex-start;
  }
}
@media (max-width: 600px) {
  #footer .footer-col:first-of-type .footer-menu__wrapper {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
}
#footer .footer-col:first-of-type .footer-menu__wrapper a {
  font-family: "haboro-contrast-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0;
  margin-left: 2.5rem;
  color: #ffffff;
}
@media (max-width: 600px) {
  #footer .footer-col:first-of-type .footer-menu__wrapper a {
    margin-left: 0;
    margin-bottom: 0.75rem;
  }
}
@media (max-width: 768px) {
  #footer .footer-col:first-of-type .footer-menu__wrapper a:first-of-type {
    margin-left: 0;
  }
}
#footer .footer-col:first-of-type .footer-menu__wrapper .social-links__wrapper {
  display: flex;
  margin-bottom: 0;
  margin-left: 2.5rem;
}
@media (max-width: 600px) {
  #footer .footer-col:first-of-type .footer-menu__wrapper .social-links__wrapper {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}
#footer .footer-col:first-of-type .footer-menu__wrapper .social-links__wrapper .social-icons__link {
  width: 15px;
  height: 15px;
  line-height: 15px;
  margin: 0 0.5rem;
}
@media (max-width: 414px) {
  #footer .footer-col:first-of-type .footer-menu__wrapper .social-links__wrapper .social-icons__link svg {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 600px) {
  #footer .footer-col:first-of-type .footer-menu__wrapper .social-links__wrapper .social-icons__link:first-of-type {
    margin: 0 0.5rem 0 0;
  }
}
#footer .footer-col:last-of-type {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 30%;
}
@media (max-width: 1100px) {
  #footer .footer-col:last-of-type {
    margin-bottom: 2rem;
    width: 50%;
  }
}
@media (max-width: 600px) {
  #footer .footer-col:last-of-type {
    width: 100%;
  }
}
#footer .footer-col:last-of-type .contact-form {
  width: 100%;
}
#footer .footer-col:last-of-type .contact-form .newsletter--form .input-group {
  display: flex;
  flex-wrap: nowrap;
}
#footer .footer-col:last-of-type .contact-form .newsletter--form .input-group input[type=email] {
  width: 100%;
  height: 34px;
  background-color: #000000;
  color: #ffffff;
  font-family: "haboro-contrast-normal", sans-serif;
  font-size: 12px;
  border: 1px solid #ffffff;
  border-radius: 0;
  padding: 0.5rem 0.85rem;
}
#footer .footer-col:last-of-type .contact-form .newsletter--form .input-group input[type=email]::placeholder {
  color: #ffffff;
}
#footer .footer-col:last-of-type .contact-form .newsletter--form .input-group input[type=email]:focus {
  outline: none;
}
#footer .footer-col:last-of-type .contact-form .newsletter--form .input-group .input-group-btn button[type=submit] {
  height: 34px;
  width: 85px;
  border: 1px solid white;
  border-left: none;
  color: white;
  font-family: "haboro-contrast-normal", sans-serif;
}
#footer .footer-col:last-of-type .contact-form .newsletter--form .input-group .input-group-btn button[type=submit]:hover {
  color: #000000;
  background-color: #ffffff;
}

.newsletter h3 {
  font-size: 1.3rem;
  color: #ffffff;
  text-align: center;
  line-height: 1.25;
  letter-spacing: 1.5px;
}
.newsletter .newsletter--form .form-success {
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  line-height: 1.25;
  letter-spacing: 1.5px;
}
.newsletter .newsletter--form .input-group {
  width: 85%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ffffff;
  border-radius: 50px;
  margin: 0.7rem auto 0.7rem;
}
@media screen and (max-width: 420px) {
  .newsletter .newsletter--form .input-group {
    width: 100%;
  }
}
.newsletter .newsletter--form .input-group input {
  border: none;
  background-color: transparent;
  font-size: 1.8rem;
  color: #ffffff;
  padding-left: 1rem;
  width: 100%;
}
@media screen and (max-width: 420px) {
  .newsletter .newsletter--form .input-group input {
    font-size: 1.35rem;
  }
}
.newsletter .newsletter--form .input-group input:focus::placeholder {
  color: #828282;
}
.newsletter .newsletter--form .input-group input:focus {
  outline: none;
}
.newsletter .newsletter--form .input-group input::placeholder {
  font-size: 1.8rem;
  color: #ffffff;
  transition: color 400ms ease-in-out;
}
.newsletter .newsletter--form .input-group .input-group-btn {
  padding-right: 1rem;
}
.newsletter .newsletter--form .input-group .input-group-btn .newsletter__submit svg {
  height: 60px;
  width: 60px;
}
.newsletter .newsletter--form .newsletter--opt-in {
  font-size: 0.7rem;
  color: #ffffff;
  text-align: center;
}

.errors ul {
  padding: 0;
}
.errors ul li {
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  line-height: 1.25;
  letter-spacing: 1.5px;
}

.shopify-challenge__container {
  min-height: 60vh;
}
.shopify-challenge__container .shopify-challenge__button {
  cursor: pointer;
  height: 40px;
  width: 60%;
  text-align: center;
  -webkit-appearance: none;
          appearance: none;
  transition: color 300ms ease-in-out;
  color: #ffffff;
  border: 1px solid #000000;
  background-color: #000000;
  margin-bottom: 0.6rem;
}

html {
  font-size: 14px;
  font-family: "prestige-elite-std", monospace;
}
@media (min-width: 1920px) {
  html {
    font-size: 22px;
  }
}
@media screen and (max-width: 648px) {
  html {
    font-size: 12px;
  }
}

h1,
h2,
h3 {
  font-size: 2.25rem;
  color: #000000;
  font-family: "haboro-contrast-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.15;
}

h4 {
  font-size: 1.32rem;
  color: #000000;
  font-family: "haboro-contrast-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 1rem;
  color: #000000;
  font-family: "haboro-contrast-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p.font-prestige {
  font-size: 1rem;
  color: #000000;
  font-family: "prestige-elite-std", monospace;
  font-weight: 400;
  font-style: normal;
}

a {
  font-size: 1rem;
  color: #000000;
  font-family: "prestige-elite-std", monospace;
  font-weight: 400;
  font-style: normal;
  border-bottom: 1px solid #000000;
  text-decoration: none;
}

.--small {
  font-size: 12px !important;
}

html {
  scroll-behavior: smooth;
  padding-bottom: 0 !important;
}

body {
  overflow-x: hidden;
}

.shopify-section {
  margin-bottom: 13.5rem;
}
@media (max-width: 768px) {
  .shopify-section {
    margin-bottom: 10rem;
  }
}
@media (max-width: 600px) {
  .shopify-section {
    margin-bottom: 3.75rem;
  }
}

.screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0vh;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  z-index: 9997;
  opacity: 0;
}

#menu-screen {
  z-index: 0;
}

.aspect__wrapper {
  height: 0;
  width: 100%;
  overflow: hidden;
  background: white;
  position: relative;
}
.aspect__wrapper .aspect__wrapper--title {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  z-index: 99;
  width: 200px;
}
.aspect__wrapper picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.aspect__wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

._9x21 {
  padding-top: 42.85%;
}

._11x21 {
  padding-top: 52.380952381%;
}

._16x9 {
  padding-top: 56.25%;
}

._5x7 > picture {
  padding-bottom: 71.4285714286%;
}

._1x1 {
  padding-top: 100%;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.lazy .blurUp {
  opacity: 0.3;
  filter: blur(20px);
}

.lazy-reveal {
  opacity: 1;
  filter: blur(0);
}

h1,
h2,
h3,
h4,
p,
a + * {
  margin-bottom: 1.75rem;
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.grid__2x {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.grid_3x {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

button {
  border: none;
  background-color: transparent;
}
button:focus {
  outline: none;
}
button:hover {
  cursor: pointer;
}

button.cta {
  -webkit-appearance: none;
          appearance: none;
  border: 1px solid #000000;
  height: 35px;
  width: 121px;
  text-align: center;
}

.mini-cart > button {
  font-family: "haboro-contrast-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  white-space: nowrap;
}

.mini-cart > button:disabled,
.mini-cart > button[disabled] {
  color: #d4d4d4;
}

a.cta-link {
  text-decoration: none;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 50px;
  height: auto;
  width: auto;
  text-align: center;
  line-height: 35px;
  padding: 0.5rem 1.5rem;
}
a.cta-link:hover {
  color: #ffffff;
  background-color: #000000;
}
@media (max-width: 1920px) {
  a.cta-link {
    height: 35px;
    padding: 0 1.5rem;
  }
}

.ps-btn {
  height: 40px;
  width: 100%;
  text-align: center;
  -webkit-appearance: none;
          appearance: none;
  transition: color 300ms ease-in-out;
}
.ps-btn.--light {
  color: #ffffff;
  border: 1px solid #707070;
  background-color: #707070;
}
.ps-btn.--dark {
  color: #ffffff;
  border: 1px solid #000000;
  background-color: #000000;
  margin-bottom: 0.6rem;
}
.ps-btn.--dark:hover {
  background-color: #707070;
  border: 1px solid #707070;
}

.ps-btn:disabled,
.ps-btn[disabled] {
  background-color: #d4d4d4;
  border: 1px solid #d4d4d4;
}
.ps-btn:disabled:hover,
.ps-btn[disabled]:hover {
  background-color: #d4d4d4;
  border: 1px solid #d4d4d4;
}

.remove-cart-item {
  border: none;
}

.remove-cart-item {
  width: 36px;
  height: 26px;
  padding: 0;
  position: relative;
}

.remove-cart-item > span {
  width: 16px;
  height: 1px;
  display: block;
  background-color: #000000;
  position: absolute;
  left: 9px;
}

.remove-cart-item span:first-of-type {
  transform-origin: center center;
  transform: rotate(45deg);
}

.remove-cart-item span:last-of-type {
  transform-origin: center center;
  transform: rotate(-45deg);
}

a:hover {
  color: #707070;
}

#mini-cart-drawer-open:hover {
  color: #707070;
}

.page-about p {
  margin-bottom: 0;
}

.page-about .shopify-section:last-of-type {
  margin-bottom: 0;
}

#shopify-section-about-page-header-image {
  margin-bottom: 10.5rem;
}
@media (max-width: 600px) {
  #shopify-section-about-page-header-image {
    margin-bottom: 3.75rem;
  }
}

#shopify-section-about-intro .page-intro div:last-of-type {
  max-width: 95%;
  align-self: flex-start;
}

#shopify-section-about-image-grid .image-grid__wrapper {
  grid-template-columns: 1.5fr 1.75fr;
}
#shopify-section-about-image-grid .image-grid__wrapper div:first-of-type {
  padding-top: 40rem;
}
@media (max-width: 768px) {
  #shopify-section-about-image-grid .image-grid__wrapper div:first-of-type {
    padding-top: 25rem;
  }
}
@media (max-width: 600px) {
  #shopify-section-about-image-grid .image-grid__wrapper div:first-of-type {
    padding-top: 16rem;
  }
}

#shopify-section-about-text-col-center .page-text-col {
  margin-bottom: 10.5rem;
}
@media (max-width: 600px) {
  #shopify-section-about-text-col-center .page-text-col {
    margin-bottom: 3.75rem;
  }
}
#shopify-section-about-text-col-center .aspect__wrapper {
  width: 90%;
  margin: 0 auto;
}

#shopify-section-about-text-col-center-2 {
  margin-bottom: 8rem;
}
#shopify-section-about-text-col-center-2 .aspect__wrapper {
  width: 95%;
  margin: 0 auto 6rem;
}
@media (max-width: 600px) {
  #shopify-section-about-text-col-center-2 .aspect__wrapper .col-text__wrapper h3 {
    margin-bottom: 0;
  }
}
@media (max-width: 600px) {
  #shopify-section-about-text-col-center-2 .aspect__wrapper {
    margin: 0 auto 2rem;
  }
}
@media (max-width: 600px) {
  #shopify-section-about-text-col-center-2 {
    margin-bottom: 2rem;
  }
}
@media (max-width: 600px) {
  #shopify-section-about-text-col-center-2 .align-center {
    text-align: center;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  #shopify-section-about-two-col-block-img-right .two-col-block__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 0;
  }
  #shopify-section-about-two-col-block-img-right .two-col-block__wrapper .text-col-text {
    display: none;
  }
  #shopify-section-about-two-col-block-img-right .two-col-block__wrapper .block__column:last-of-type {
    margin-bottom: 0;
  }
}
#shopify-section-about-two-col-block-img-right .block__column:first-of-type .text-col-image {
  width: 85%;
}
@media (max-width: 600px) {
  #shopify-section-about-two-col-block-img-right .block__column:first-of-type .text-col-image {
    width: 100%;
  }
}
@media (min-width: 600px) {
  #shopify-section-about-two-col-block-img-right .mobile-block__column {
    display: none;
  }
}
#shopify-section-about-two-col-block-img-right .mobile-block__column {
  padding: 0 2rem;
  margin-top: 3rem;
}

@media (max-width: 600px) {
  #shopify-section-about-two-col-block-img-left .two-col-block__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 0;
  }
  #shopify-section-about-two-col-block-img-left .two-col-block__wrapper .text-col-text {
    display: none;
  }
}
@media (min-width: 600px) {
  #shopify-section-about-two-col-block-img-left .mobile-block__column {
    display: none;
  }
}
#shopify-section-about-two-col-block-img-left .mobile-block__column {
  padding: 0 2rem;
  margin-top: 3rem;
}

#shopify-section-about-text-col-center-3 {
  margin-bottom: 8rem;
}
#shopify-section-about-text-col-center-3 .aspect__wrapper {
  width: 88%;
  margin: 0 auto 6rem;
}
@media (max-width: 600px) {
  #shopify-section-about-text-col-center-3 .aspect__wrapper {
    margin-bottom: 3rem;
  }
}
@media (max-width: 600px) {
  #shopify-section-about-text-col-center-3 {
    margin-bottom: 3.75rem;
  }
}

#shopify-section-about-two-col-block-img-right-2 .two-col-block__wrapper .block__column:first-of-type .text-col-text {
  width: 85%;
}
@media (max-width: 600px) {
  #shopify-section-about-two-col-block-img-right-2 .two-col-block__wrapper .block__column:first-of-type .text-col-text {
    width: 100%;
    margin-top: 3rem;
  }
}

#shopify-section-about-two-col-block-img-left-2 .two-col-block__wrapper {
  grid-template-columns: 1.5fr 1fr;
  gap: 6rem;
}
@media (max-width: 600px) {
  #shopify-section-about-two-col-block-img-left-2 .two-col-block__wrapper {
    flex-direction: column;
  }
}
#shopify-section-about-two-col-block-img-left-2 .two-col-block__wrapper .block__column:last-of-type {
  margin-bottom: 3rem;
}
@media (max-width: 600px) {
  #shopify-section-about-two-col-block-img-left-2 .two-col-block__wrapper .block__column:last-of-type {
    margin-bottom: 0;
    margin-top: 3rem;
  }
}
#shopify-section-about-two-col-block-img-left-2 .two-col-block__wrapper .text-col-text {
  width: 100%;
  padding-right: 10%;
}
#shopify-section-about-two-col-block-img-left-2 .two-col-block__wrapper .text-col-text p {
  margin-bottom: 0;
}
@media (max-width: 600px) {
  #shopify-section-about-two-col-block-img-left-2 {
    margin-bottom: 6rem;
  }
}

.page-contact .shopify-section {
  margin-bottom: 100px;
}

.contact-details__wrapper {
  width: 90%;
  margin: 0 auto;
}
.contact-details__wrapper .grid_3x {
  gap: 6rem;
}
@media (max-width: 768px) {
  .contact-details__wrapper .grid_3x {
    grid-template-columns: 1fr;
  }
}
.contact-details__wrapper .detail__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 768px) {
  .contact-details__wrapper .detail__wrapper {
    width: 75%;
    margin: 0 auto;
  }
}

.blog .page-header__wrapper {
  flex-direction: column;
}

.article-list {
  padding: 25px;
}
.article-list .article-list-title {
  margin-top: 4rem;
}
@media (max-width: 640px) {
  .article-list .grid_3x {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .article-list .grid_3x {
    grid-template-columns: 1fr;
  }
}
.article-list .grid_3x .article-item h4 {
  margin-bottom: 1.15rem;
}
.article-list .aspect__wrapper {
  margin-bottom: 1.5rem;
}

.article .page-header__wrapper {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  flex-direction: column;
}
.article .page-header__wrapper > a {
  align-self: flex-start;
  border-bottom: none;
}
.article .page-header__wrapper > a svg {
  height: 10px;
}
.article .page-header__wrapper .header-text__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.article .article-content {
  padding: 0 25px;
  margin-bottom: 13.5rem;
}
@media (max-width: 768px) {
  .article .article-content {
    padding-top: 4rem;
  }
}
.article .article-content p {
  max-width: 750px;
}
@media (max-width: 360px) {
  .article .article-content p {
    max-width: 85%;
  }
}
.article .article-content * + * {
  margin: 0 auto 3rem;
}

.collection .header__wrapper {
  padding-bottom: 0;
}
@media (max-width: 768px) {
  .collection .header__wrapper {
    padding-bottom: 25px;
  }
}
@media (max-width: 768px) {
  .collection .--header-image {
    padding: 0 0.5rem;
  }
}
@media (max-width: 680px) {
  .collection .--header-image {
    min-height: 50vh;
  }
}
@media (max-width: 600px) {
  .collection .--header-image .aspect__wrapper {
    min-height: 50vh;
  }
}
@media (max-width: 600px) {
  .collection .--header-image .aspect__wrapper img {
    object-fit: cover;
  }
}
.collection .product-filter__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.collection .page-header__wrapper {
  border-bottom: 0;
  border-top: 1px solid #000000;
  margin-bottom: 0;
}
.collection .collection-list {
  padding: 0 3rem;
}
@media (max-width: 600px) {
  .collection .collection-list {
    padding: 1.5rem 0rem;
  }
}
.collection .collection-list div {
  text-align: center;
}
.collection .collection-list div div {
  display: flex;
  justify-content: center;
}
.collection .collection-list div div p {
  margin: 0;
  margin-right: 0.5rem;
}
.collection .collection-list div div a {
  margin-left: 0.5rem;
}
@media (max-width: 720px) {
  .collection .grid_3x {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .collection .grid_3x {
    gap: 0.5rem;
  }
}

.list-collections h3,
.list-collections h4 {
  text-align: center;
}
.list-collections .grid_3x {
  margin: 0 3rem 3.75rem;
}
.list-collections .grid_3x img {
  margin-bottom: 1.5rem;
}
.list-collections .collection__product-details {
  display: flex;
  justify-content: center;
}
.list-collections .collection__product-details p,
.list-collections .collection__product-details a {
  margin-bottom: 0;
}
.list-collections .collection__product-details p {
  margin-right: 0.5rem;
}
.list-collections .collection__product-details a {
  margin-left: 0.5rem;
}

#shopify-section-collection-list-header {
  margin-bottom: 3.75rem;
}

.single-product {
  display: flex;
  margin: 0 4.5rem 3.75rem;
}
@media (max-width: 768px) {
  .single-product {
    margin: 0 2.5rem 3.75rem;
  }
}
@media (max-width: 700px) {
  .single-product {
    margin: 0 1rem 3.75rem;
  }
}
@media (max-width: 620px) {
  .single-product {
    flex-direction: column;
  }
}
.single-product > div {
  padding: 0 1rem;
}
@media (max-width: 620px) {
  .single-product > div {
    padding: 0;
  }
}
.single-product .product-images__wrapper--grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, auto));
  gap: 1.5rem;
  width: 55%;
  padding-top: 2rem;
}
@media (max-width: 620px) {
  .single-product .product-images__wrapper--grid {
    width: 100%;
    display: block;
  }
}
.single-product .product-images__wrapper--grid .product-slider-nav {
  max-width: 100px;
}
@media (max-width: 768px) {
  .single-product .product-images__wrapper--grid .product-slider-nav {
    max-width: 75px;
  }
}
@media (max-width: 620px) {
  .single-product .product-images__wrapper--grid .product-slider-nav {
    display: none;
  }
}
.single-product .product-images__wrapper--grid .product-slider .slick-list {
  padding-top: 0 !important;
}
.single-product .product-images__wrapper--grid .product-slider .slick-list .slick-track a {
  margin-bottom: 2rem;
}
.single-product .product-images__wrapper--grid .product-slider .slick-dots {
  bottom: 35px;
}
.single-product .product-images__wrapper--grid .product-slider .slick-dots li button:before {
  content: "";
  display: block;
  background-color: #000000;
  height: 1px;
  width: 25px;
}
.single-product .product-images__wrapper--grid .product-slider.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.single-product .product-images__wrapper--grid .product-slider-nav--mobile {
  display: block;
}
@media (min-width: 620px) {
  .single-product .product-images__wrapper--grid .product-slider-nav--mobile {
    display: none;
  }
}
.single-product .product-images__wrapper--grid .product-slider-nav--mobile img {
  margin-right: 0.5rem;
}
.single-product .product-images__wrapper.--single-image {
  width: 55%;
  padding-top: 2rem;
}
.single-product .product-details__wrapper {
  position: relative;
  width: 45%;
  margin-left: 2rem;
}
@media (max-width: 768px) {
  .single-product .product-details__wrapper {
    margin-left: 0;
  }
}
@media (max-width: 620px) {
  .single-product .product-details__wrapper {
    width: 100%;
  }
}
.single-product .product-details__wrapper .details-header__wrapper {
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 1.5rem;
}
.single-product .product-details__wrapper .details-header__wrapper h1 {
  margin-bottom: 1.25rem;
}
@media (max-width: 620px) {
  .single-product .product-details__wrapper .details-header__wrapper p {
    margin-bottom: 1.5rem;
  }
}
.single-product .product-details__wrapper .product-options__wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.single-product .product-details__wrapper .product-options__wrapper .product-options {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
@media (max-width: 620px) {
  .single-product .product-details__wrapper .product-options__wrapper .product-options {
    width: 100%;
  }
}
.single-product .product-details__wrapper .product-options__wrapper .product-options label {
  margin-bottom: 0.5rem;
}
.single-product .product-details__wrapper .product-options__wrapper .product-options select {
  height: 40px;
  border: 1px solid #000000;
  border-radius: 0;
  -webkit-appearance: none;
          appearance: none;
  padding: 0.5rem 0.75rem;
  background: transparent;
  background-position-x: 96%;
  background-position-y: 12px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 120 120' width='13' height='13' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='black'/></g></svg>");
}
.single-product .product-details__wrapper .product-options__wrapper .product-options select:focus {
  outline: 1px solid #f1f0f0;
  border-radius: none;
}
.single-product .product-details__wrapper #fit-chart-toggle {
  margin-bottom: 1.5rem;
  padding: 0;
}

.single-product.coming-soon .product-details__wrapper {
  padding-top: 2rem;
}

.product #shopify-section-product-collection-block {
  margin-bottom: 3.75rem;
  border-top: 1px solid #000000;
  padding-top: 3rem;
}

@media (max-width: 620px) {
  .product .fixed-panel {
    margin-bottom: 0;
  }
}

@media (max-width: 700px) {
  .product .collection-block {
    padding: 0 0.25rem;
  }
}
@media (max-width: 600px) {
  .product .collection-block {
    padding: 0 1rem;
  }
}
@media (max-width: 700px) {
  .product .collection-block .grid_3x {
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    gap: 0.5;
  }
}

.cart-page__wrapper {
  max-width: 85%;
  margin: 0 auto 13.5rem;
}
@media (max-width: 1100px) {
  .cart-page__wrapper {
    max-width: 100%;
    margin: 0 2rem;
  }
}
.cart-page__wrapper .cart-items__wrapper.grid__2x {
  gap: 6rem;
  grid-template-columns: 1.5fr 1fr;
}
@media (max-width: 1100px) {
  .cart-page__wrapper .cart-items__wrapper.grid__2x {
    gap: 3rem;
  }
}
@media (max-width: 720px) {
  .cart-page__wrapper .cart-items__wrapper.grid__2x {
    grid-template-columns: 1fr;
  }
}
.cart-page__wrapper .cart-items__wrapper .items-table {
  gap: 2rem;
  padding-top: 1.8rem;
  border-top: 1px solid #d4d4d4;
}
.cart-page__wrapper .cart-items__wrapper .items-table .table-row__wrapper {
  margin-bottom: 1.8rem;
  opacity: 1;
}
.cart-page__wrapper .cart-items__wrapper .items-table .table-row__wrapper h4,
.cart-page__wrapper .cart-items__wrapper .items-table .table-row__wrapper p {
  margin-bottom: 1rem;
}
.cart-page__wrapper .cart-items__wrapper .items-table .table-row__wrapper .items-tables__details div div:last-of-type {
  text-align: right;
}
.cart-page__wrapper .cart-items__wrapper .items-table .table-row__wrapper .items-tables__details > div:last-of-type {
  margin-top: 2rem;
}
@media (max-width: 450px) {
  .cart-page__wrapper .cart-items__wrapper .items-table .table-row__wrapper.grid__2x {
    grid-template-columns: 1fr;
  }
}
.cart-page__wrapper .cart-summary__wrapper {
  max-width: 390px;
  position: relative;
}
@media (max-width: 720px) {
  .cart-page__wrapper .cart-summary__wrapper {
    max-width: 100%;
  }
}
.cart-page__wrapper .cart-summary__wrapper div {
  background-color: #f7f7f7;
}
.cart-page__wrapper .cart-summary__wrapper div div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.75rem 1.5rem;
  border-bottom: 1px solid #d4d4d4;
}
.cart-page__wrapper .cart-summary__wrapper div div * {
  margin: 0;
}
.cart-page__wrapper .cart-summary__wrapper div div:last-of-type {
  border: none;
  margin-bottom: 1.5em;
}
.cart-page__wrapper .cart-summary__wrapper div div > p {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #6d7278;
  text-align: right;
}
.cart-page__wrapper .cart-summary__wrapper div div:last-of-type p {
  color: #000000;
}

.--empty-cart .cart-form__wrapper {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 6rem;
}
.--empty-cart .cart-form__wrapper .items-table {
  border-top: 1px solid #d4d4d4;
  padding-top: 1.8rem;
}

.cart-items-quantity__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  width: 50%;
  flex: 1;
}
.cart-items-quantity__wrapper .decrement {
  padding-left: 0.15rem;
  padding-right: 0.15rem;
}
.cart-items-quantity__wrapper .decrement #decreaseQuantity {
  font-size: 1.15rem;
}
.cart-items-quantity__wrapper .QuantityCount {
  border: none;
  font-size: 1.15rem;
  font-weight: normal;
  text-align: center;
  width: 35px;
}
.cart-items-quantity__wrapper .increment {
  padding-right: 0.15rem;
  padding-left: 0.15rem;
}

input[type=number] {
  -webkit-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.cart .fixed-panel {
  padding-top: 0;
  top: 2rem;
  margin-bottom: 200px;
}

.four-oh-four {
  margin: 0 3.75rem 1.5rem;
}
.four-oh-four .four-oh-four--image__wrapper {
  position: relative;
}
.four-oh-four .four-oh-four--image__wrapper h1 {
  position: absolute;
  top: 6%;
  left: 2%;
}

#shopify-section-not-found-page-header-image {
  margin: 0;
}