/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Remove list styles on ul, ol  */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.index .header__wrapper header {
  width: 80%;
  border-bottom: none;
}

.header__wrapper {
  padding: 25px;
  display: flex;
  width: 100%;
}
.header__wrapper header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
}
.header__wrapper header .header__logo--wrapper a {
  border-bottom: none;
}
.header__wrapper header .header__logo--wrapper svg {
  width: 134px;
}
.header__wrapper header .main-nav {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
}
.header__wrapper header .main-nav a {
  margin-right: 4rem;
}

.index .header__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9997;
}
.index .header__wrapper .no-display {
  display: none;
}

.main-nav a {
  font-family: "haboro-contrast-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  border-bottom: none;
  margin: 0;
}

.branding__wrapper {
  display: inline-block;
  position: relative;
  width: 20%;
  min-width: 180px;
  height: 100vh;
  vertical-align: middle;
  overflow: hidden;
}
.branding__wrapper svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 95vh;
  width: 100%;
  max-width: 245px;
}

.screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0vh;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  z-index: 9998;
  opacity: 0;
}

.cart-header__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.cart-drawer__wrapper {
  padding: 1.5rem 2.5rem;
  position: fixed;
  top: 0;
  right: 0;
  width: 35%;
  min-height: 100vh;
  z-index: 9999;
  background: #ffffff;
  overflow: auto;
  transform: translateX(110%);
}
.cart-drawer__wrapper .cart-drawer__products__wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 1rem;
  padding-bottom: 2.5rem;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #d4d4d4;
}
.cart-drawer__wrapper .cart-drawer__products__wrapper > div:last-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-quantity-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cart-quantity-details p {
  margin: 0;
}

.cart-drawer__quantity__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  width: 50%;
  flex: 1;
}
.cart-drawer__quantity__wrapper .decrement {
  padding-left: 0.15rem;
  padding-right: 0.15rem;
}
.cart-drawer__quantity__wrapper .decrement #decreaseQuantity {
  font-size: 1.15rem;
}
.cart-drawer__quantity__wrapper .QuantityCount__Drawer {
  border: none;
  font-size: 1.15rem;
  font-weight: normal;
  text-align: center;
  width: 35px;
}
.cart-drawer__quantity__wrapper .increment {
  padding-right: 0.15rem;
  padding-left: 0.15rem;
}

input[type=number] {
  -webkit-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.cart-drawer__subtotal__wrapper {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  border-bottom: 1px solid #d4d4d4;
}
.cart-drawer__subtotal__wrapper p {
  margin: 0;
}
.cart-drawer__subtotal__wrapper .subtotal__col-01 {
  width: 40%;
}
.cart-drawer__subtotal__wrapper .subtotal__col-02 {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.cart-drawer__subtotal__wrapper .total-price {
  margin-top: 2rem;
}
.cart-drawer__subtotal__wrapper .total-price p {
  margin: 0;
  font-size: 1rem;
}

.cart-drawer__checkout-button {
  height: 40px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  border: 1px solid #000000;
  background-color: #000000;
  -webkit-appearance: none;
          appearance: none;
}

.close-cart {
  width: 36px;
  height: 36px;
  padding: 0;
  position: relative;
}

.close-cart > span {
  width: 16px;
  height: 1px;
  display: block;
  background-color: #000000;
  position: absolute;
  left: 9px;
}

.close-cart span:first-of-type {
  transform-origin: center center;
  transform: rotate(45deg);
}

.close-cart span:last-of-type {
  transform-origin: center center;
  transform: rotate(-45deg);
}

.home-hero__wrapper img {
  object-fit: cover;
  min-height: 100vh;
  max-height: 100vh;
}

section.page-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.page-intro .page-intro__text {
  text-align: center;
  max-width: 65%;
  margin-bottom: 7.75rem;
}

.page-text-col {
  padding: 0 3.75rem;
  display: flex;
}
.page-text-col .col-text__wrapper {
  max-width: 40%;
}

.align-left {
  text-align: left;
  justify-content: flex-start;
}

.align-center {
  text-align: center;
  justify-content: center;
}

.two-col-block__wrapper {
  display: grid;
  gap: 2rem;
}

.--img-right {
  grid-template-columns: 1fr 1.25fr;
}
.--img-right .block__column:first-of-type {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.--img-right .block__column:first-of-type div {
  width: 70%;
}

.page-header__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #000000;
  padding: 2.5rem 0 4.5rem 0;
  margin-bottom: 4rem;
}
.page-header__wrapper > * {
  margin: 0;
}

.collection-block {
  padding: 0 3rem;
}
.collection-block .collection-header__wrapper {
  text-align: center;
  margin-bottom: 5rem;
}
.collection-block .product-item .product-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
.collection-block .product-item .product-content .product-content__meta {
  display: flex;
}
.collection-block .product-item .product-content .product-content__meta > * {
  margin: 0 0.5rem;
}

/* Tabs menu */
.tabs {
  margin: 0;
  display: flex;
  align-items: center;
}

/* Tab Links */
.tablinks {
  cursor: pointer;
}
.tablinks:not(:last-child) {
  margin-right: 3rem;
}

/* Tab active */
.tablinks.active {
  color: #000000;
  border-bottom: 1px solid #000000;
}

/* Tabs text */
.tablinks.active p,
.tablinks.active:hover p {
  opacity: 1;
}

.tablinks p {
  color: #000000;
  opacity: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: 0.5s ease;
  padding: 0;
  margin: 0;
}

.tablinks:hover p {
  opacity: 1;
}
@media screen and (max-width: 512px) {
  .tablinks:hover p {
    opacity: 0.6;
  }
}

/* tab content */
.tabcontent__wrapper {
  background-color: white;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #d4d4d4;
  z-index: -3;
  position: relative;
  opacity: 1;
  overflow: hidden;
  transition: all 1s ease;
  top: 0;
}

.tabcontent {
  display: none;
}

.tabcontent.active {
  transition: all 1s ease;
  display: block;
}

/* Text*/
.tabcontent p {
  margin: 0;
  padding: 0;
  transition: all 1s ease;
  animation: fadeEffect 0.6s ease;
  width: 100%;
}
@media screen and (max-width: 512px) {
  .tabcontent p {
    font-size: 14px;
    line-height: 26px;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#shopify-section-product-fit-sizes {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0vh;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  z-index: 9998;
  opacity: 0;
}
#shopify-section-product-fit-sizes .modal__wrapper {
  height: 300px;
  width: 500px;
  background: #ffffff;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 9999;
}

.image__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cropped {
  width: 65%;
}

.image__wrapper--full-feature {
  max-width: 86%;
  margin: 0 auto;
}

.--header-image {
  padding: 25px;
}

.index .image-grid__wrapper {
  padding-right: 1.5rem;
}

.image-grid__wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  gap: 2rem;
  grid-row-gap: 200px;
}
.image-grid__wrapper .grid-image-full {
  width: 100%;
}
.image-grid__wrapper .grid-image-crop {
  max-width: 50%;
}
.image-grid__wrapper .top {
  align-self: start;
}
.image-grid__wrapper .middle {
  justify-self: center;
}
.image-grid__wrapper .bottom {
  align-self: end;
}
.image-grid__wrapper .left {
  justify-self: start;
}
.image-grid__wrapper .center {
  align-self: center;
}
.image-grid__wrapper .right {
  justify-self: end;
}

#footer {
  height: 134px;
  width: 100%;
  background-color: #000000;
  display: flex;
  align-items: center;
  padding: 3rem;
}
#footer .footer-col:first-of-type {
  display: flex;
  flex-wrap: wrap;
}
#footer .footer-col:first-of-type .footer-logo {
  max-width: 134px;
  height: 45px;
  padding-top: 4px;
}
#footer .footer-col:first-of-type .footer-menu__wrapper {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .footer-col:first-of-type .footer-menu__wrapper a {
  font-family: "haboro-contrast-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0;
  margin-left: 2.5rem;
  color: #ffffff;
}
#footer .footer-col:first-of-type .footer-menu__wrapper .social-icons__link {
  width: 15px;
  height: 15px;
  line-height: 15px;
}

.newsletter h3 {
  font-size: 1.3rem;
  color: #ffffff;
  text-align: center;
  line-height: 1.25;
  letter-spacing: 1.5px;
}
.newsletter .newsletter--form .form-success {
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  line-height: 1.25;
  letter-spacing: 1.5px;
}
.newsletter .newsletter--form .input-group {
  width: 85%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ffffff;
  border-radius: 50px;
  margin: 0.7rem auto 0.7rem;
}
@media screen and (max-width: 420px) {
  .newsletter .newsletter--form .input-group {
    width: 100%;
  }
}
.newsletter .newsletter--form .input-group input {
  border: none;
  background-color: transparent;
  font-size: 1.8rem;
  color: #ffffff;
  padding-left: 1rem;
  width: 100%;
}
@media screen and (max-width: 420px) {
  .newsletter .newsletter--form .input-group input {
    font-size: 1.35rem;
  }
}
.newsletter .newsletter--form .input-group input:focus::placeholder {
  color: #828282;
}
.newsletter .newsletter--form .input-group input:focus {
  outline: none;
}
.newsletter .newsletter--form .input-group input::placeholder {
  font-size: 1.8rem;
  color: #ffffff;
  transition: color 400ms ease-in-out;
}
.newsletter .newsletter--form .input-group .input-group-btn {
  padding-right: 1rem;
}
.newsletter .newsletter--form .input-group .input-group-btn .newsletter__submit svg {
  height: 60px;
  width: 60px;
}
.newsletter .newsletter--form .newsletter--opt-in {
  font-size: 0.7rem;
  color: #ffffff;
  text-align: center;
}

.errors ul {
  padding: 0;
}
.errors ul li {
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  line-height: 1.25;
  letter-spacing: 1.5px;
}

html {
  font-size: 16px;
  font-family: "prestige-elite-std", monospace;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 648px) {
  html {
    font-size: 12px;
  }
}

h1,
h2,
h3 {
  font-size: 2.25rem;
  color: #000000;
  font-family: "haboro-contrast-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.15;
}

h4 {
  font-size: 1.32rem;
  color: #000000;
  font-family: "haboro-contrast-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 1rem;
  color: #000000;
  font-family: "haboro-contrast-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p.font-prestige {
  font-size: 1rem;
  color: #000000;
  font-family: "prestige-elite-std", monospace;
  font-weight: 400;
  font-style: normal;
}

a {
  font-size: 1rem;
  color: #000000;
  font-family: "prestige-elite-std", monospace;
  font-weight: 400;
  font-style: normal;
  border-bottom: 1px solid #000000;
  text-decoration: none;
}

.--small {
  font-size: 12px !important;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
}

body {
  overflow-x: hidden;
}

.shopify-section {
  margin-bottom: 13.5rem;
}

.aspect__wrapper {
  height: 0;
  width: 100%;
  overflow: hidden;
  background: white;
  position: relative;
}
.aspect__wrapper picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.aspect__wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

._9x21 {
  padding-top: 42.85%;
}

._11x21 {
  padding-top: 52.380952381%;
}

._16x9 {
  padding-top: 56.25%;
}

._5x7 > picture {
  padding-bottom: 71.4285714286%;
}

._1x1 {
  padding-top: 100%;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.lazy .blurUp {
  opacity: 0.3;
  filter: blur(20px);
}

.lazy-reveal {
  opacity: 1;
  filter: blur(0);
}

h1,
h2,
h3,
h4,
p,
a + * {
  margin-bottom: 1.75rem;
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.grid__2x {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.grid_3x {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

button {
  border: none;
  background-color: transparent;
}
button:focus {
  outline: none;
}
button:hover {
  cursor: pointer;
}

button.cta {
  -webkit-appearance: none;
          appearance: none;
  border: 1px solid #000000;
  height: 35px;
  width: 121px;
  text-align: center;
}

.cart > button {
  font-family: "haboro-contrast-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

a.cta-link {
  text-decoration: none;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 17px;
  height: 35px;
  width: 120px;
  text-align: center;
  line-height: 35px;
}

.add-to-cart {
  height: 40px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  border: 1px solid #000000;
  background-color: #000000;
  -webkit-appearance: none;
          appearance: none;
}

.contact-details__wrapper {
  width: 90%;
  margin: 0 auto;
}
.contact-details__wrapper .responsive-grid {
  gap: 8rem;
}
.contact-details__wrapper .detail__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.blog .page-header__wrapper {
  flex-direction: column;
}

.article-list {
  padding: 25px;
}
.article-list .aspect__wrapper {
  margin-bottom: 1.5rem;
}

.tags-menu {
  margin-top: 3rem;
  display: flex;
}
.tags-menu .tag__wrapper {
  margin: 0 2rem;
  display: flex;
  align-items: center;
  line-height: 1;
  text-decoration: none;
  border-bottom: none;
}
.tags-menu .tag__wrapper:hover .blog-tag--check {
  background-color: #000000;
}
.tags-menu .tag__wrapper .blog-tag--check {
  display: inline-block;
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
  margin: 0 0.5rem;
}

.latest-post__wrapper {
  padding: 0 25px 4rem;
  border-bottom: 1px solid #000000;
}
.latest-post__wrapper .responsive-grid {
  gap: 8.25rem;
}

.tag__wrapper[aria-current=true] .blog-tag--check {
  background-color: #000000;
}

.article .page-header__wrapper {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 0;
  flex-direction: column;
}
.article .page-header__wrapper > a {
  align-self: flex-start;
  border-bottom: none;
}
.article .page-header__wrapper > a svg {
  height: 10px;
}
.article .page-header__wrapper .header-text__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.article .article-content {
  padding: 0 25px;
  margin-bottom: 13.5rem;
}
.article .article-content p {
  max-width: 75%;
}
.article .article-content * + * {
  margin: 0 auto 3rem;
}

.collection .header__wrapper {
  padding-bottom: 0;
}
.collection .header__wrapper header {
  border-bottom: none;
}
.collection .--header-image {
  padding-top: 0;
}
.collection .product-filter__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.collection .page-header__wrapper {
  border-bottom: 0;
  border-top: 1px solid #000000;
  margin-bottom: 0;
}
.collection .collection-list {
  padding: 25px;
}

.single-product {
  display: flex;
  margin: 0 4.5rem;
}
.single-product > div {
  padding: 0 1rem;
}
.single-product .product-images__wrapper--grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, auto));
  gap: 1.5rem;
  width: 55%;
}
.single-product .product-images__wrapper--grid .product-slider-nav {
  max-width: 100px;
}
.single-product .product-images__wrapper--grid .product-slider .slick-list {
  padding-top: 0 !important;
}
.single-product .product-images__wrapper--grid .product-slider .slick-list .slick-track a {
  margin-bottom: 2rem;
}
.single-product .product-details__wrapper {
  width: 45%;
  margin-left: 2rem;
}
.single-product .product-details__wrapper .details-header__wrapper {
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 1.5rem;
}
.single-product .product-details__wrapper .details-header__wrapper p {
  margin-bottom: 0;
}
.single-product .product-details__wrapper .product-options__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.single-product .product-details__wrapper .product-options__wrapper .product-options {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.single-product .product-details__wrapper .product-options__wrapper .product-options label {
  margin-bottom: 0.5rem;
}
.single-product .product-details__wrapper .product-options__wrapper .product-options select {
  height: 40px;
  border: 1px solid #000000;
  border-radius: none;
  -webkit-appearance: none;
          appearance: none;
  padding: 0.5rem 0.75rem;
}
.single-product .product-details__wrapper .product-options__wrapper .product-options select:focus {
  outline: 1px solid #f1f0f0;
  border-radius: none;
}
.single-product .product-details__wrapper .product-options__wrapper .product-options:first-of-type {
  margin-right: 2rem;
}
.single-product .product-details__wrapper #fit-chart-toggle {
  margin-bottom: 1.5rem;
  padding: 0;
}