<div class="page-header__wrapper">
  <h1>{{blog.title}}</h1>
  {% render 'blog-filter' %}
</div>

{% unless current_tags %}
  <section class="latest-post__wrapper">{% render 'latest-post' %}</section>
{% endunless %}

<section class="article-list">
  <div class="article-list-title">
    <h2>
      {{blog.title}}
    </h2>
  </div>
  <div class="grid_3x">{% render 'posts-list' %}</div>
</section>
