<div class="page-header__wrapper">
  <h1>Parque Studio Journal</h1>
  {% render 'blog-filter' %}
</div>

{% if current_tags %}
<section></section>
{% else %}
<section class="latest-post__wrapper">{% render 'latest-post' %}</section>
{% endif %}

<section class="article-list">
  <div class="article-list-title">
    <h2>
      Journal Entries{% if current_tags %}: {{ current_tags.first }}{% endif %}
    </h2>
  </div>
  <div class="grid_3x">{% render 'posts-list' %}</div>
</section>
